@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>
@*<h2>@Model.Message</h2>*@
@*<p>
    This page requires authorization by convention:
    <code>
        options.Conventions.AuthorizePage("/Contact");
    </code>
</p>*@
<address>
    <br>
    <br>
    <abbr title="Phone">Phone</abbr>
    
</address>
<address>
    <strong>Support:</strong> <a href="mailto:core8@gmx.net">core8@gmx.net</a><br>
</address>
